.es-colors {
  display: flex;
  gap: 12px;
  margin-top: 30px;
}

.es-color {
  width: 12px;
  height: 12px;
  border-radius: 50px;
}
.es-color-1 {
  background: #000000;
  border: 1px solid var(--Color-Border-medium, #00000054);
}
.es-color-2 {
  background: #f0e68c;
  border: 1px solid var(--Color-Border-medium, #00000054);
}
.es-color-3 {
  background: #b0c4de;
  border: 1px solid var(--Color-Border-medium, #00000054);
}
.es-color-4 {
  background: #efd9f4;
  border: 1px solid var(--Color-Border-medium, #00000054);
}
