@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('assets/fonts/HelveticaNeueCyr-Medium.eot') format('eot');
  src: url('assets/fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
  unicode-range: U+0020-007F, U+00A0-00FF, U+2010-2015, U+2018-2019, U+201C-201D,
    U+2026;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('assets/fonts/HelveticaLight.eot') format('eot');
  src: url('assets/fonts/HelveticaNeueLight.woff2') format('woff2');
  unicode-range: U+0020-007F, U+00A0-00FF, U+2010-2015, U+2018-2019, U+201C-201D,
    U+2026;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('assets/fonts/HelveticaNeueCyr-Roman.eot') format('eot');
  src: url('assets/fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
  unicode-range: U+0020-007F, U+00A0-00FF, U+2010-2015, U+2018-2019, U+201C-201D,
    U+2026;
  font-display: swap;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .button {
    @apply rounded-full ease-in-out;
  }
}

@layer base {
  html {
    font-family: Helvetica Neue;
    font-size-adjust: 0.522;
  }
  }


